.home-body {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}


.header-wrapper {
    flex:1;
    margin: 20px 10px;
}

.home-title {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}


.content-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
